name: secondary
on:
  workflow_run:
    workflows: ["main"]
    types: [completed]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Extract branch name
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Print branch
        run: |
          echo "Current branch: ${BRANCH}"

      - name: Print head branch
        env:
          HEAD_BRANCH: ${{ github.event.workflow_run.head_branch }}
        run: |
          echo "Head branch: ${HEAD_BRANCH}"
